set colored-stats on
set colored-completion-prefix on

set show-all-if-ambiguous on
set completion-ignore-case on
set completion-display-width 0
set completion-query-items 1000

set echo-control-characters off

